name: "Create Release Branch"
on:
  workflow_dispatch:
jobs:
  createrelease:
    runs-on: ubuntu-latest
    env:
      PREFIX: test-

    steps:
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
        check-latest: true
    - name: Check out code
      uses: actions/checkout@v2
      with:
        ref: develop
    - name: generate-version
      run: |
        git pull
        latest_tag=$(git tag --list "${{ env.PREFIX }}*" --sort=v:refname|tail -1)
        echo $latest_tag
        minor_version=$(echo $latest_tag | sed -r 's#'${{ env.PREFIX }}'[0-9]+\.([0-9]+)\.[0-9]+#\1#')
        let minor_version+=1
        echo $minor_version
        new_version=$(echo $latest_tag | sed -r 's#'${{ env.PREFIX }}'([0-9]+\.)[0-9]+\.[0-9]+#\1'${minor_version}'.0#')
        echo "new_version=$new_version" >> $GITHUB_ENV
        echo "new_branch=${{ env.PREFIX }}$new_version" >> $GITHUB_ENV
    - name: Create release branch
      run: git checkout -b ${new_branch}
    - name: Initialize mandatory git config
      run: |
       git config user.name "GitHub Actions"
       git config user.email "alena+gha@holligan.us"
    - name: Change version number and name
      run: |
        sed -i -E "s/__version__ = '.*'/__version__ = '${{ env.new_version }}'/g" 'src/_version.py'
    - name: install jira-changelog
      run: npm install -g jira-changelog
    - name: Write chagelog
      run: |
        jira-changelog --range origin/main..${{ env.new_branch }} > chglog.md
        echo -e "RELEASE ${{ env.new_version }}\n$(cat chglog.md)" > chglog.md
    - name: Commit changelog and manifest files
      id: make-commit
      run: |
        git add src/_version.py
        git commit -F chglog.md
    - name: Push new branch
      run: git push origin ${{ env.new_branch }}
    - name: slack notification
      run: echo "send to slack"
