name: Create Release Branch
on:
  workflow_dispatch:
    inputs:
      prefix:
        default: 'test-'
        description: 'Prefix for tag and branch'
        required: true
jobs:
  createrelease:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        ref: develop
    - name: generate-version
      with:
        prefix: ${{ github.event.inputs.prefix }}
      run: |
        latest_tag=$(git tag --list "${prefix}*" --sort=v:refname|tail -1)
        minor_version=$(echo $latest_tag | sed -r 's#'${prefix}'[0-9]+\.([0-9]+)\.[0-9]+#\1#')
        let minor_version+=1
        new_version=$(echo $latest_tag | sed -r 's#'${prefix}'([0-9]+\.)[0-9]+\.[0-9]+#\1'${minor_version}'.0#')
        echo '::set-output name=new_version::${new_version}'
    - name: Create release branch
      with:
        new_branch: ${{ github.event.inputs.prefix }}${{ steps.generate-version.outputs.new_version }}
      run: git checkout -b ${new_branch}
    - name: Initialize mandatory git config
      run: |
       git config user.name "GitHub Actions"
       git config user.email "alena+gha@holligan.us"
    - name: Change version number and name
      with:
        new_version: ${{ steps.generate-version.outputs.new_version }}
      run: |
        sed -i -E "s/__version__ = '.*'/__version__ = '$new_version'/g" 'src/_version.py'
    - name: install jira-changelog
      run: npm install -g jira-changelog
    - name: Write chagelog
      with:
        new_version: ${{ steps.generate-version.outputs.new_version }}
        new_branch: ${{ github.event.inputs.prefix }}${{ steps.generate-version.outputs.new_version }}
      run: |
        jira-changelog --range origin/main..${new_branch} > chglog.md
        echo -e "RELEASE $new_version\n$(cat chglog.md)" > chglog.md
    - name:
    - name: Commit changelog and manifest files
      id: make-commit
      with:
        new_branch: ${{ github.event.inputs.prefix }}${{ steps.generate-version.outputs.new_version }}
      run: |
        git add src/_version.py
        git commit -F chglog.md
    - name: Push new branch
      with:
        new_branch: ${{ github.event.inputs.prefix }}${{ steps.generate-version.outputs.new_version }}
      run: git push origin $new_branch
    - name: slack notification
