name: "Develop CI Build-Format-Lint-Test"

on:
  push:
    branches:
      - develop
      - main
    paths:
      - 'Pipfile**'
      - 'Dockerfile'
      - 'Makefile'
      - '.github**'
  pull_request:
    branches:
      - develop
      - main
    paths:
      - 'Pipfile**'
      - 'Dockerfile'
      - 'Makefile'
      - '.github**'
  workflow_dispatch:
  repository_dispatch:

jobs:
  buildFormatLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build development image
        run: make build
      if: ${{ github.event_name == 'pull_request' }}
      - name: run linter
        run: make lint
      - name: run formatter
        run: make format BLACK_ARGS=--check
